<div class="page-header" style="text-align: center">
	<h1>
		<a class="btn btn-md btn-success" href="/adm#/">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</a>
		 Edit player
	</h1>
</div>

<br>
<form name="editForm" ng-submit="editPlayer(editForm.$valid)" novalidate> 
	<div class="input-group input-group-md">
	  	<span class="input-group-addon" id="sizing-addon1" >Name</span>
	  	<input name="name" type="text" class="form-control" ng-model="playerEdition.name" required>
    </div>
    <div ng-messages="editForm.name.$error" ng-show="showErrors" style="color:red" role="alert">
			<p ng-message="required">Name is required.</p>
	</div>

	<br>
	<div class="input-group input-group-md">
	  <span class="input-group-addon" id="sizing-addon1">Lastname</span>
	  <input name="lastname" type="text" class="form-control" ng-model="playerEdition.lastname">
	</div>
	<div ng-messages="editForm.lastname.$error" ng-show="showErrors" style="color:red" role="alert">
			<p ng-message="required">Lastname is required.</p>
	</div>

	<br>
	<div class="input-group input-group-md">
	  <span class="input-group-addon" id="sizing-addon1">URL image</span>
	  <input type="text" class="form-control" ng-model="playerEdition.url">
	</div>

	<!--
	<div class="col-xs-6 col-md-3 media-center">
	    <a href="#" class="thumbnail">
	      <img src="{{playerEdition.url}}">
	    </a>
  	</div>
	-->
	
	<br>
	<div class="btn-group btn-group-justified" role="group">
		<div class="btn-group" role="group">
			<!--<input type="button" class="btn btn-lg btn-success" ng-disabled="myForm.name.$invalid" value="Create" ng-click="newPlayer()"></input>-->
			<input type="submit" class="btn btn-lg btn-success" value="Edit"></input>
		</div>
	</div>
</form>
